

$white: #f5f6fa;
$black: #2f3542;
$purple: #BF05F2;
$gray: #576574;
$dark-gray: #353b48;
$purple-navbar:  #8c3cfd;
$purple-navbar-hover:  #7f33e9;
// $purple-navbar:  #7678ed;
$dark-purple: #7c0bbd;
$dark-purple-hover: #720aad;
$bgc-white: #fafaff;
$bgc-white-hover:#efeff5;
$font-color: #7662b6;
$dark-blue: #050259;
$gray-font: #5c6072;
// $cherry-red: #992c71;
$cherry-red: #9e0059;
$cherry-red-hover: #8b014f;
$gray-border: rgb(223, 219, 231);


$purple-to-pink-webkit: -webkit-linear-gradient(to left, #BF05F2, #6805F2);
$purple-to-pink-linear: linear-gradient(to left, #b205d4, #562abb);

$purple-to-pink-webkit-hover: -webkit-linear-gradient(to left, #BF05F2, #6805F2);  
$purple-to-pink-linear-hover: linear-gradient(to left, #b707e7, #6806f1); 