$white: #f5f6fa;
$black: #2f3542;
$purple: #6F1E51;
$gray: #576574;
$dark-gray: #353b48;

.white{
    color: $white;
}

.purple{
    color: $purple;
}
.purple-bgc{
    background-color: #7678ed;
}
.gray{
    color: $gray;
}


.errorMsg{
    background-color: rgb(246, 140, 158);
    border: 1px solid #ED4C67;
    padding: 5px;
    border-radius: 7px;
}

.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    // background-color: #ffffff;
    // border-bottom: 1px solid #b7a6f3;
   background-color: #7f80ec;
   border-bottom: 1px solid #7779e6;
   .homeBtn{
    width: 45px;
    height: 40px;
}
}

.navbar-nav{
    display: flex;
    justify-content: right;
    width: 100%;
    transition: all 0.3s ease-in-out;

    .nav-item{
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        margin: 5px auto;
        @media screen and (min-width: 1199px){
            margin: 5px 20px;
        }
        .nav-link{
            // width: 50%;
            color: $white;
            border-bottom: 2px solid transparent;
            transition: all 0.1s ease-in-out;
            &:hover{
                color: #6F1E51;
                border-bottom: 2px solid #6F1E51;
            }
            &:focus{
                color:$white;
                border-bottom: 2px solid #6F1E51;
            }
        }
    }
}


.modal-body{
    background-color: #f1f3ff;
    padding: 10px 20px;

    .btn-facebook{
        font-size: 1.5rem;
        color: $white;
        background-color: #4267B2;
        &:hover{
            background-color: rgb(49, 85, 156);
        }
    }

    .btn-google{
        font-size: 1.5rem;
        color: $white;
        background-color: #DB4437;
        &:hover{
            background-color: rgb(177, 51, 39);
        }
    }

    .btn-login{
        font-size: 1.3rem;
        color: $white;
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 106));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, rgb(218, 68, 106)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &:hover{
            background: #89216B;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 88));  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #89216B, rgb(218, 68, 88))
          
        }
    }

    input[type="email"], input[type="password"], input[type="text"]{
        font-size: 20px;
    }
}

.jumbotron-bg{
    background: url('./assets/bgImgBlurred.jpg') no-repeat center;
}

.gradient-bgc{
    padding: 20px 0 50px 0;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(39, 71, 134, 0.486),  #88205b6e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(39, 71, 134, 0.486),  #88205b6e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
    -moz-box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
    box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
}

.jumbotron{
    background-color: transparent;
    color: white;
    padding: 45px 0 25px 0;
    margin: none;

    h1{
        font-weight: bold;
        margin: 20px 0 60px 0;
        font-size: 4rem;
        letter-spacing: 2px ;
    }

    p{
        margin: 40px auto;
        width: 80%;
        font-size: 1.5rem;
    }

    .btn-signup{
        font-size: 1.4rem;
        margin-top: 30px;
        position: relative;
        bottom: 0;
        padding: 10px;
        width: 150px;
        color: white;
       
        background-color: #a53860;
        transition: all 0.2s ease-out;

        &:hover{
            background-color: #99214d;
            // border: 1px solid #6F1E51;
        }
    }
}

.info-section{
    // width: 90%;
    padding: 20px 0;
    // margin: 50px auto;
    // height: 50vh;
    background: url('./assets/phone.jpg') no-repeat left;
    background-size: cover;

    &-row{
        margin: 50px auto 150px auto;
       
        
        .social-pic{
            width: 350px;
        }
    }

    .info-text-container{
        width: 100%;
        margin: 0 auto;
        // background-color: red;
        @media screen and (min-width: 1199px){
            width: 90%;
        }

        &-heading{
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 30px;
        }
        &-paragraph{
            font-size: 1.5rem;
            font-weight: 400;
            margin: 30px auto;
        }
        &-button{
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: 20px;
            padding: 13px;
            background-color: #7678ed;
            border-radius: 5px;
            color: white;
            &:hover{
                background-color: #6769d8;
            }
            &-border{
                font-size: 1.5rem;
                font-weight: 400;
                margin-top: 20px;
                padding: 13px;
                border: 2px solid #7678ed;
                border-radius: 5px;
                color:  #6769d8;
                &:hover{
                    background-color: #7678ed;
                    color: $white;
                }
            }
        }

        &-icons{
            display: flex;
            list-style-type: none;
            justify-content: space-evenly;

            img{
                width: 100px;
                // margin-right: 60%;
            }
        }
        
    }

    .info-image{
        margin: 0 auto;
        width: 90%;
    }
}


.profile-page{
    // height: 90vh;
     padding: 20px 0 50px 0;
    //  background-color: #8f90eb;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C6426E, #7f80ec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
    .profile-card{
        position: relative;
        background-color: white;
        width: 97%;
        margin: 50px auto;
        padding: 120px 30px 40px 30px;
        border-radius: 5px;
        

        @media screen and (min-width: 1199px){
            width: 90%;
        }


        

        .profile-pic{
            &-bubble{
                position: absolute;
                left: 50%;
                top: -60px;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                background-color: $white;
                z-index: 5;   
                &:hover{
                   
                    
                    .profile-pic-change{
                        
                        opacity: 1;
                    }
                    .profile-pic-img{
                        background-color: rgb(255, 255, 255);
                        filter: blur(4px);
                    }
                    
                }
            }

            &-change{
                opacity: 0;
                position: absolute;
                left: 50%;
                top: 30px; 
                margin-left: -32px;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                z-index: 100;
                transition: all 0.3s ease-out;
            }

            &-img{
                position: absolute;
                left: 50%;
                // top: 0;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                z-index: 10;
                transition: all 0.2s ease-out;
            }
        }
        

    .profile-info{
        width: 90%;
        margin: 0 auto;

        .profile-heading{
            display: inline;
            font-size: 3.1rem;
            font-weight: 600;
            letter-spacing: 3px;
            vertical-align: middle;
            
        }
        .profile-form{
            margin: 20px 0;
            padding: 50px 0;
            border-top: 1px solid #a5b1c2;
            border-bottom: 1px solid #a5b1c2;

        }
        .btn-save-changes{
            border: 2px solid #54a0ff;
            font-weight: 500;
            font-size: 1.2rem;
            color: #54a0ff;
            &:hover{
                color: $white;
                background-color: #2e86de;
            }
        }
    
    } 
    }
    .Ads-profile{
        width: inherit;
        height: 100%;
        margin: 30px 0;
       
        padding-bottom: 55px;

        .ads-profile-container{
            border: 1px solid $purple;
            height: 100%;
           

            .ads-profile-content{
                height: inherit;
                margin: auto auto;
                background-color: #ebeef1;
                &-noads{
                    position: relative;
                    padding: 40px 0;
                }
            }
        }

        .ads-heading{
            font-size: 3.1rem;
            font-weight: 600;
            letter-spacing: 3px;
        }
        .ads-add-button{
            color: white;
            padding: 15px;
            position: relative;
            bottom: 0;
            background: #DA4453; 
            background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 106));  
            background: linear-gradient(to right, #89216B, rgb(218, 68, 106));
            transition: all 0.3s ease-out;
            &:hover{
                background: #89216B;  
                background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 88));
                background: linear-gradient(to right, rgb(137, 33, 97), rgb(218, 68, 88))
              
            }
        }
    }
    

}

.subscription-section{
    background-color: #7678ed;
    color: $white;
    height: 100vh;
    padding: 50px;

    .subscription-jumbotron{
        width: 96%;
        margin: 0 auto;

        h1{
            font-size: 3.5rem;
            font-weight: 500;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }

        @media screen and (min-width: 1199px){
            width: 60%;
            margin: 0 auto;
        }
    }
}



    
