$white: #f5f6fa;
$black: #2f3542;
$purple: #6F1E51;
$gray: #576574;
$dark-gray: #353b48;
$navbar-purple:  #7678ed;
$bgc-white: #fafaff;
$font-color: #7662b6;
$dark-blue: #273469;
$gray-font: #5c6072;

html{
    font-size: 0.9rem;

    @media screen and (min-width: 1199px){
        font-size: 1rem;
    }
}

.white{
    color: $white;
}

.purple{
    color: $purple;
}

.navbar-purple{
    background-color: #7678ed;
}

.font-color{
    color: #273469;
}
.gray{
    color: $gray;
}

.dark-gray{
    color: $dark-gray;
}

.gray-font{
    color: #5c6072;;
}


// Buttons

// .radio-big{
//     margin: 40px 0 20px 0;
//     padding: 0 60px;
//     font-size: 1.2rem;
//     width: 100px;
//     // background-color: red;
//     color: $dark-gray;
//     transform: scale(1.3);
//     -ms-transform: scale(1.3); /* IE */
//     -moz-transform: scale(1.3); /* FF */
//     -webkit-transform: scale(1.3); /* Safari and Chrome */
//     -o-transform: scale(1.3); /* Opera */
// }


.errorMsg{
    background-color: rgb(246, 140, 158);
    border: 1px solid #ED4C67;
    padding: 5px;
    border-radius: 7px;
}

.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    // background-color: #ffffff;
    // border-bottom: 1px solid #b7a6f3;
   background-color: #7f80ec;
   border-bottom: 1px solid #7779e6;
   .homeBtn{
    width: 45px;
    height: 40px;
}
}

.navbar-nav{
    display: flex;
    justify-content: right;
    width: 100%;
    transition: all 0.3s ease-in-out;

    .nav-item{
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        margin: 5px auto;
        @media screen and (min-width: 1199px){
            margin: 5px 20px;
        }
        .nav-link{
            // width: 50%;
            color: $white;
            border-bottom: 2px solid transparent;
            transition: all 0.1s ease-in-out;
            &:hover{
                color: #6F1E51;
                border-bottom: 2px solid #6F1E51;
            }
            &:focus{
                color:$white;
                border-bottom: 2px solid #6F1E51;
            }
        }
    }
}


.modal-body{
    background-color: #f1f3ff;
    padding: 10px 20px;

    .btn-facebook{
        font-size: 1.5rem;
        color: $white;
        background-color: #4267B2;
        &:hover{
            background-color: rgb(49, 85, 156);
        }
    }

    .btn-google{
        font-size: 1.5rem;
        color: $white;
        background-color: #DB4437;
        &:hover{
            background-color: rgb(177, 51, 39);
        }
    }

    .btn-login{
        font-size: 1.3rem;
        color: $white;
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 106));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, rgb(218, 68, 106)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &:hover{
            background: #89216B;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 88));  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #89216B, rgb(218, 68, 88))
          
        }
    }

    input[type="email"], input[type="password"], input[type="text"]{
        font-size: 20px;
    }
}

.jumbotron-bg{
    background: url('./assets/bgImgBlurred.jpg') no-repeat center;
}

.gradient-bgc{
    padding: 20px 0 50px 0;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(39, 71, 134, 0.486),  #88205b6e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(39, 71, 134, 0.486),  #88205b6e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
    -moz-box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
    box-shadow: 0px 12px 36px -17px rgba(29,38,114,1);
}

.jumbotron{
    background-color: transparent;
    color: white;
    padding: 45px 0 25px 0;
    margin: none;

    h1{
        font-weight: bold;
        margin: 20px 0 60px 0;
        font-size: 4rem;
        letter-spacing: 2px ;
    }

    p{
        margin: 40px auto;
        width: 80%;
        font-size: 1.5rem;
    }

    .btn-signup{
        font-size: 1.4rem;
        margin-top: 30px;
        position: relative;
        bottom: 0;
        padding: 10px;
        width: 150px;
        color: white;
       
        background-color: #a53860;
        transition: all 0.2s ease-out;

        &:hover{
            background-color: #99214d;
            // border: 1px solid #6F1E51;
        }
    }
}

.info-section{
    // width: 90%;
    padding: 10px 0;
    // margin: 50px auto;
    // height: 50vh;
    background: url('./assets/phone.jpg') no-repeat left;
    background-size: cover;

    &-row{
        margin: 0 auto 80px auto;
       
        
        .social-pic{
            width: 350px;
            
        }

        @media screen and (min-width: 1199px){
            margin: 50px auto 100px auto;

            .social-pic{
                
                margin-top: 40px;
            }
        }
    }

    .info-text-container{
        width: 100%;
        margin: 0 auto;
        // background-color: red;
        @media screen and (min-width: 1199px){
            width: 90%;
        }

        &-heading{
            font-size: 3rem;
            font-weight: 600;
            margin-top: 20px;            
            margin-bottom: 40px;
        }
        &-paragraph{
            font-size: 1.5rem;
            font-weight: 400;
            margin: 40px auto;
        }
        &-button{
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: 20px;
            padding: 13px;
            background-color: #7678ed;
            border-radius: 5px;
            color: white;
            &:hover{
                background-color: #6769d8;
            }
            &-border{
                font-size: 1.5rem;
                font-weight: 400;
                margin-top: 20px;
                padding: 13px;
                border: 2px solid #7678ed;
                border-radius: 5px;
                color:  #6769d8;
                &:hover{
                    background-color: #7678ed;
                    color: $white;
                }
            }
        }

        &-icons{
            display: flex;
            list-style-type: none;
            justify-content: space-evenly;

            img{
                width: 100px;
                // margin-right: 60%;
            }
        }
        
    }

    .info-image{
        margin: 0 auto;
        width: 90%;
    }
}


.profile-page{
    // height: 90vh;
     padding: 20px 0 50px 0;
    //  background-color: #8f90eb;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C6426E, #7f80ec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
    .profile-card{
        position: relative;
        background-color: white;
        width: 97%;
        margin: 50px auto;
        padding: 120px 30px 40px 30px;
        border-radius: 5px;
        -webkit-box-shadow: -2px 5px 10px -1px rgba(140,140,140,1);
        -moz-box-shadow: -10px 5px 10px -1px rgba(140,140,140,1);
        box-shadow: 0px 2px 10px -1px rgba(140,140,140,1);
        

        @media screen and (min-width: 1199px){
            width: 90%;
        }


        

        .profile-pic{
            &-bubble{
                position: absolute;
                left: 50%;
                top: -60px;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                background-color: $white;
                z-index: 5;   
                &:hover{
                   
                    
                    .profile-pic-change{
                        
                        opacity: 1;
                    }
                    .profile-pic-img{
                        background-color: rgb(255, 255, 255);
                        filter: blur(4px);
                    }
                    
                }
            }

            &-change{
                opacity: 0;
                position: absolute;
                left: 50%;
                top: 30px; 
                margin-left: -32px;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                z-index: 100;
                transition: all 0.3s ease-out;
            }

            &-img{
                position: absolute;
                left: 50%;
                // top: 0;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                z-index: 10;
                transition: all 0.2s ease-out;
            }
        }
        

    .profile-info{
        width: 90%;
        margin: 0 auto;

        .profile-heading{
            display: inline;
            font-size: 3.1rem;
            font-weight: 600;
            letter-spacing: 3px;
            vertical-align: middle;
            
        }
        .profile-form{
            margin: 20px 0;
            padding: 50px 0;
            border-top: 1px solid #a5b1c2;
            border-bottom: 1px solid #a5b1c2;

        }
        .btn-save-changes{
            border: 2px solid #54a0ff;
            font-weight: 500;
            font-size: 1.2rem;
            color: #54a0ff;
            &:hover{
                color: $white;
                background-color: #2e86de;
            }
        }
    
    } 
    }
    .Ads-profile{
        width: inherit;
        height: 100%;
        margin: 30px 0;
       
        padding-bottom: 55px;

        .ads-profile-container{
            border: 1px solid $purple;
            height: 100%;
           

            .ads-profile-content{
                height: inherit;
                margin: auto auto;
                background-color: #ebeef1;
                &-noads{
                    position: relative;
                    padding: 40px 0;
                }
            }
        }

        .ads-heading{
            font-size: 3.1rem;
            font-weight: 600;
            letter-spacing: 3px;
        }
        .ads-add-button{
            color: white;
            padding: 15px;
            position: relative;
            bottom: 0;
            background: #DA4453; 
            background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 106));  
            background: linear-gradient(to right, #89216B, rgb(218, 68, 106));
            transition: all 0.3s ease-out;
            &:hover{
                background: #89216B;  
                background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 88));
                background: linear-gradient(to right, rgb(137, 33, 97), rgb(218, 68, 88))
              
            }
        }
    }
    

}

.subscription-section{
    background-color: #7d7fee;
    color: $white;
    padding: 20px;
    

    @media screen and (min-width: 1199px){
        padding: 50px;
        // height: 650px;
    }

    .subscription-jumbotron{
        width: 96%;
        margin: 0 auto;

        h1{
            font-size: 3.5rem;
            font-weight: 500;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }

        @media screen and (min-width: 1199px){
            width: 60%;
            margin: 0 auto;
        }
    }

    .subscription-row{
        display: flex;
        justify-content: space-evenly;
        
        margin: 60px auto 90px auto;

        &-standout{
            @media screen and (min-width: 1199px){
                margin-top: -25px;
            }   
        }

        .subscription-card{
            padding: 20px 20px 35px 20px;
            margin: 20px 0;
            font-size: 1.3rem;
            
            border-radius: 5px;
            background-color: $white;
            color: $navbar-purple;
            transition: all 0.2s ease-in-out;
            -webkit-box-shadow: -2px 5px 10px -1px rgba(140,140,140,1);
            -moz-box-shadow: -2px 5px 10px -1px rgba(140,140,140,1);
            box-shadow: -2px 5px 10px -1px rgba(140,140,140,1);
            @media screen and (min-width: 1199px){
                // padding: 35px 20px;
                margin: 20px 10px;

                &:hover{
                    @media screen and (min-width: 1199px){
                        margin-top: 5px;
                    }
                   
                }
            }
           
            

            &-p{
                margin-top: 30px;
                color: #273469;
            }
            &-list{
                width: 90%;
                margin: 50px auto;
                font-size: 1.3rem;
                color: #273469;
                list-style-type: none;
                li{
                    margin: 25px auto;
                    .fa-check{
                        font-size: 1.2rem;
                    }
                }
            }

            &-button{
                color: white;
                font-size: 1.4rem;
                font-weight: 500;
                margin: 0 auto;
                padding: 14px;
                background-color: #6c03a8;
                border-radius: 50px;
                transition: all 0.3s ease-out;
                &:hover{
                    background-color: #992167;
                }
                
            }

            .fas{
                font-size: 2.8rem;
            }
        }
    }
}

.manager{

    &-jumbotron{
        width: 96%;
        margin: 20px auto;
        // display: flex;
        // justify-content: space-between;
        border-bottom: 1px solid rgb(219, 219, 219);

        @media screen and (min-width: 1199px){
            width: 86%;
        }
        

        &-title{
            padding-bottom: 10px;
            font-size: 3rem;
            text-align: center;
            
            @media screen and (min-width: 1199px){
                font-size: 3.5rem;
            }
        }
        
    }

    &-ad-form{
        width: 100%;
        min-height: 300px;
        margin: 30px auto;
        background-color: $bgc-white;
        padding: 5px 10px 20px 10px;
        border-radius: 4px;
        

        -webkit-box-shadow: -2px 5px 10px -1px rgba(140,140,140,1);
        -moz-box-shadow: -10px 5px 10px -1px rgba(140,140,140,1);
        box-shadow: 5px 5px 15px 1px rgb(175, 175, 175);

        @media screen and (min-width: 1199px){
            width: 86%;
        }

        .alert-danger{
            font-size: 1.1rem;
        }

        

        &-row{
            width: 100%;
            margin: 0 auto;
            @media screen and (min-width: 1199px){
                // width: 88%;
            }

            
        }
        
        .first{
            margin: 20px auto 100px auto;

            h2{
                margin: 20px auto 40px auto;
                font-size: 1.8rem;
                color: $font-color;
            }
            .btn-add{
                
                margin: 20px auto;
                padding: 13px;
                font-size: 1.5rem;
                font-weight: 500;
                background-color: $navbar-purple;
                color: white;
                // text-align: center;
                // line-height: 60px;
               

                i{
                    font-size: 2.3rem;
                    margin: auto 10px;
                }
            }
            
        }
        .second{
            margin: 20px auto 100px auto;
            

            h3{
                margin: 20px auto 40px auto;
                font-size: 1.8rem;
                color: rgb(128, 14, 80);
            }
            .btn-watch-tutorial{
                margin: 20px auto;
                padding: 15px;
                font-size: 1.5rem;
                font-weight: 500;
                border-radius: 40px;
                // background-color: white;
                color: #992167;
                border: 2px solid #992167;

                i{
                    font-size: 2.3rem;
                    margin: auto 10px;
                }

                &:hover{
                    background-color: #992167;
                    color: white;
                }
            }
        }

        .ad-container{
            width: 100%;
            margin: 0 auto;
            @media screen and (min-width: 1199px){
                width: 88%;
            }

            .ad-stepper{
                margin: 20px auto;
                background-color: inherit;
                transform: scale(1.2);
                -ms-transform: scale(1.2); /* IE */
                -moz-transform: scale(1.2); /* FF */
                -webkit-transform: scale(1.2); /* Safari and Chrome */
                -o-transform: scale(125); /* Opera */
                
                .ad-step{
                    font-size: 1.9rem;
                }

                .ad-step-label{
                    font-size: 1.1rem;
                }
            }

            .btn-cancel{
                margin: 10px 10px;
                font-size: 1.4rem;
                color: #a53860;
                border-radius: 0;
                border-bottom: 2px solid #a53860;
                &:hover{
                    background-color: #a53860;
                    color: $white;
                }
            }

            .btn-next{
                margin: 10px 10px;
                font-size: 1.5rem;
                padding: 7px 25px;
                background-color: $font-color;
                color: $white;
                &:hover{
                    background-color: #614fa3;
                    // color: $white;
                }
            }

            
           
            .add-form{
                margin: 0 auto;
                width: 90%;

                &-group{
                    margin: 30px auto 125px auto;
                }

                &-label{
                    color: $dark-blue;
                    font-weight: 600;
                    font-size: 2rem;
                    padding-bottom: 20px;
                    margin: 20px auto 30px auto;
                    // text-align: center;
                    // letter-spacing: 1px;
                    
                    @media screen and (min-width: 1199px){
                        font-size: 2.3rem;
                    }
                }

                &-input-name{
                    width: 100%;
                    margin: 0 auto;
                    @media screen and (min-width: 1199px){
                        width: 60%;
                    }
                }
            }

            .social-media-selection{
                margin: 10px auto 30px auto;

                .social-media-box{
                    margin: 0 20px;
                    .checkbox-big{
                        transform: scale(1.5);
                        -ms-transform: scale(1.5); /* IE */
                        -moz-transform: scale(1.5); /* FF */
                        -webkit-transform: scale(1.5); /* Safari and Chrome */
                        -o-transform: scale(1.5); /* Opera */
                    }
                    .img-slim{
                        width: 170px;
                        // height: 80px;
                        margin: 20px auto;
                    }
                    .img-box{
                        max-width: 150px;
                        max-height: 110px;
                        // height: 80px;
                        margin: 20px auto;
                    }
                }
            }

            .goals{
                border-radius: 5px;
                
                padding: 20px;
                color: $dark-gray;
                font-size: 2rem;
                // border: 1px solid #5c687554;

                &-row{
                    margin: 35px auto;

                    .active{
                        border: 1px solid #d0d6fd;
                        background-color: #d7dcff;
                    }
                }
                &-card{
                    color: $gray;
                    margin: 15px 10px;
                    padding: 15px 20px;
                    border-radius: 3px;
                    background-color: #e8eafb;
                    border: 1px solid #e6e8fb;
                    transition: all 0.1s ease-out;
                    cursor: pointer;

                    
                    
                    &:hover{
                        border: 1px solid #d0d6fd;
                        background-color: #d7dcff;
                    }
                }

                .active{
                    background-color: #d0d7fd;
                }
               
            }

            .audience-form{
                color: $dark-gray;
                font-size: 1.2rem;
                
                .row{
                    margin-bottom: 65px;
                }

                label{
                    margin: 15px 0;
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                &-select{
                    margin: 5px 10px;
                    
                    &-age{
                        width: 200px;
                        margin: 5px 10px;
                        @media screen and (min-width: 1199px){
                            width: 180px;
                        }

                        
                    }
                }

                &-gender{
                    margin: 20px 0px;
                    // width: 40%;
                    .audience-form-select{
                        margin: 5px 0px;
                    }

                    @media screen and (min-width: 1199px){
                        margin-right: 20px
                    }
                }

                &-age{
                    margin: 20px 0px;

                    p{
                        font-size: 1.3rem;
                        margin: auto 7px;
                    }

                    @media screen and (min-width: 1199px){
                        margin-right: 20px
                    }
                }

                &-countries{
                    // width: 80%;

                    @media screen and (min-width: 1199px){
                        width: 60%;
                    }
                }
            }

            .placement-form{

                .devices-field{
                    position: relative;
                    margin: 20px 0;

                    .alert-devices{
                        // position: absolute;
                        // bottom: 0;
                        margin: auto 0 0 0;
                    }
                }

                .url-field{
                    margin: 20px 0;
                }
            }

            .fb-placements{
                margin: 60px auto;
                padding: 20px;
                border-radius: 5px;
                border: 1px solid rgb(206, 206, 206);

                &-form{
                    margin: 10px 20px;
                }

                &-radioBtns{
                    padding: 20px 0;
                }

                &-label{
                    padding: 0 35px;
                }

                .radio-fb{
                    margin: 40px 0 20px 0;
                    padding: 0 60px;
                    font-size: 1.2rem;
                    width: 100px;
                    // background-color: red;
                    color: $dark-gray;
                    transform: scale(1.3);
                    -ms-transform: scale(1.3); /* IE */
                    -moz-transform: scale(1.3); /* FF */
                    -webkit-transform: scale(1.3); /* Safari and Chrome */
                    -o-transform: scale(1.3); /* Opera */
                }

                .customCheckboxes{
                    margin-bottom: 30px;

                    @media screen and (min-width: 1199px){
                        margin-top: 70px;
                        margin-bottom: 0px;
                    }

                    .customCheckbox{
                        margin: 20px 10px;
                        text-align: center;
                        transform: scale(1.2);
                        -ms-transform: scale(1.2); /* IE */
                        -moz-transform: scale(1.2); /* FF */
                        -webkit-transform: scale(1.2); /* Safari and Chrome */
                        -o-transform: scale(1.2); /* Opera */

                        
                    }


                    i{
                        color: $font-color;
                        margin-left: 10px;
                        margin-bottom: 5px;  
                    }

                    
                }
                

                .fb-ad-form{
                    margin: 20px auto;
                    color: $dark-gray;

                    

                    &-field{
                        margin: 35px 10px;

                        &-label{
                            margin: 15px 0;
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: rgb(60, 96, 167);
                        }

                        .media-box{
                            border: 2px solid #4267B2;
                            color: #4267B2;
                            border-radius: 5px;
                            margin: 10px 10px;
                            padding: 10px;
                            font-weight: 500;
                            cursor: pointer;

                            i{
                                font-size: 4rem;
                                // color: $navbar-purple;
                            }
                        }
                    }

                    button{
                        margin-top: 40px;
                    }

                    &-view{
                        margin: 40px 0px;

                        @media screen and (min-width: 1199px){
                            margin: 50px 20px;
                        }
                        .head{

                            img{
                                margin-right: 10px;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }

                            h1{
                                font-size: 1rem;
                                font-weight: bold;
                            }

                            p{
                                font-size: 0.9rem;
                                color: #888888;
                            }

                            .primary-text{
                                margin: 0 10px;
                                font-size: 1.2rem;
                            }
                        }

                        .ad-image{
                            // width: 96%;

                            img{
                                margin-top: 10px;
                                width: 100%;

                                @media screen and (min-width: 1199px){
                                    // min-width: 500px;
                                }
                            }
                        }

                        .ad-description{
                            padding: 0;
                            margin: 0 auto;
                            // width: 96%;
                            background-color: #eeeeee;

                            .url{
                                color: #595959;
                                font-size: 1.1rem;
                                // margin: 10px;
                            }

                            .headline{
                                font-size: 1.2rem;
                            }

                            .desc{
                                font-size: 1.1rem;
                                color: #5c6072;
                            }

                            button{
                                margin: 15px 0;
                                font-size: 0.9rem;
                            }
                        }
                    }

                   
                }

            }


            .ggl-ad{
                margin: 60px auto;
                padding: 10px;
                // width: 100%;
                border-radius: 5px;
                border: 1px solid rgb(206, 206, 206);

                @media screen and (min-width: 1199px){
                    
                }

                &-form{
                    margin: 10px auto;

                    button{
                        margin-top: 40px;
                    }

                    @media screen and (min-width: 1199px){
                        
                    }
                    

                    &-field{
                        margin: 35px 10px;
                        

                        &-label{
                            margin: 15px 0;
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: rgb(60, 96, 167);
                        }
                }

                .view-label{
                    color: $dark-blue;
                    font-size: 1.4rem;
                    margin: 0 20px;
                }

                &-view{
                    margin: 40px 0px;
                    background-color: #f3f1f1;
                    padding: 5px 10px;

                    @media screen and (min-width: 1199px){
                        margin: 30px 20px;
                    }

                    .headlines{
                        color: #0645AD;
                        word-break: break-all;
                       
                    }

                    .url{
                        color:  #006621;
                        font-size: 1.1rem;

                        p{
                            margin: 5px 0;
                        }

                        .ad-box{
                            border: 1px solid #006621;
                            padding: 1px;
                            border-radius: 4px;
                            margin-right: 6px;
                        }
                    }

                    .description{
                        font-size: 1.1rem;
                        color: #5c6072;
                    }
                }
                }
            }

            .budget-form{
                &-schedule{
                    font-size: 1rem;
                    margin-bottom: 60px;

                    .radio-schedule{
                        margin: 30px 40px;
                        transform: scale(1.3);
                        -ms-transform: scale(1.3); /* IE */
                        -moz-transform: scale(1.3); /* FF */
                        -webkit-transform: scale(1.3); /* Safari and Chrome */
                        -o-transform: scale(1.3); /* Opera */

                        @media screen and (min-width: 1199px){
                            margin: 30px 70px;
                        }
                    }

                    .custom-schedule-field{
                        
                        .start-date {
                            margin: 20px 20px;
                            font-size: 1.2rem;
                        }
                        .end-date {
                            margin: 20px 20px;
                            font-size: 1.2rem;
                        }

                        .date-picker{
                            width: 80%;
                        }
                    }

                    
                    
                }

                &-budget{
                    font-size: 1rem;
                    margin-bottom: 30px;

                    .fb-budget{
                        margin: 40px 0;

                        .fb-budget-box{
                            padding: 20px;
                        }
                    }

                    .ggl-budget{
                        margin: 40px 0;

                        .ggl-budget-box{
                            padding: 20px;
                        }
                    }

                    .daily-budget-field{
                        margin: 15px 0;
                    }

                    .lifetime-budget-field{
                        margin: 15px 0;
                    }

                    .input-group{
                        width: 40%;
                    }
        
                        .radio-budget{
                            margin: 5px 20px;
                            // width: 150px;

                            color: $dark-gray;
                            transform: scale(1.3);
                            -ms-transform: scale(1.3); /* IE */
                            -moz-transform: scale(1.3); /* FF */
                            -webkit-transform: scale(1.3); /* Safari and Chrome */
                            -o-transform: scale(1.3); /* Opera */

                        }
                    }

                    

                    .spending{
                        border: 1px solid rgb(200, 200, 200);
                        border-radius: 10px;
                        background-color: rgb(238, 238, 238);
                        padding: 15px 20px;
                        margin: 15px 10px;
                        color: $dark-blue;
                    }

                    .ggl-budget-box{
                        padding: 20px 0;
                        label{
                            margin: auto 10px;
                            font-size: 1.3rem;
                            color: $dark-gray
                        }

                        .ggl-budget-field{
                            width: 40%;
                            margin: auto 10px;
                        }
                    }
            }
            
        }
    }
}


    
