$white: #f5f6fa;
$black: #2f3542;
$purple: #6F1E51;

.white{
    color: $white;
}

.purple{
    color: $purple;
}


.errorMsg{
    background-color: rgb(246, 140, 158);
    border: 1px solid #ED4C67;
    padding: 5px;
    border-radius: 7px;
}

.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    // background-color: #ffffff;
    // border-bottom: 1px solid #b7a6f3;
   background-color: #e8ecff;
    
}

.navbar-nav{
    display: flex;
    justify-content: right;
    width: 100%;

    .nav-item{
        font-size: 1.2rem;
        font-weight: 600;
        
        text-decoration: none;
        margin: 5px 20px;

        .nav-link{
            color: $black;
            border-bottom: 2px solid transparent;
            border-radius: 2px;

            &:hover{
                color: #6F1E51;
                border-bottom: 2px solid #6F1E51;
            }
        }
    }
}


.modal-body{
    background-color: #f1f3ff;
    padding: 10px 20px;

    .btn-facebook{
        font-size: 1.5rem;
        color: #54a0ff;
        border: 2px solid #54a0ff;
        &:hover{
            color: $white;
            background-color: #54a0ff;
        }
    }

    .btn-google{
        font-size: 1.5rem;
        color: #EA2027;
        border: 2px solid #EA2027;
        &:hover{
            color: $white;
            background-color: #EA2027;
        }
    }

    .btn-login{
        font-size: 1.3rem;
        color: $white;
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 106));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, rgb(218, 68, 106)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &:hover{
            background: #89216B;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #89216B, rgb(218, 68, 88));  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #89216B, rgb(218, 68, 88))
          
        }
    }

    input[type="email"], input[type="password"], input[type="text"]{
        font-size: 20px;
    }
}

.homepage{
    background: url('./assets/bgImg.jpg') no-repeat center;
    

}

.gradient-bgc{
    padding: 20px 0 10px 0;
    // background: #FC466B;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, rgba(63, 94, 251, 0.37), rgba(252, 70, 106, 0.205));  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, rgba(46, 78, 238, 0.411), rgba(235, 28, 69, 0.575)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(29, 37, 113, 0.671), rgba(153, 25, 66, 0.787));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(29, 37, 113, 0.671), rgba(153, 25, 66, 0.787)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron{
    background-color: transparent;
    color: white;
    padding: 40px 0 0 0;
    margin: none;

    h1{
        font-weight: bold;
        margin: 20px 0 60px 0;
        font-size: 4rem;
        letter-spacing: 2px ;
    }

    p{
        margin: 40px auto;
        width: 80%;
        font-size: 1.3rem;
    }

    .btn-signup{
        font-size: 1.4rem;
        margin-top: 30px;
        position: relative;
        bottom: 0;
        padding: 10px;
        width: 150px;
        color: white;
       
        background-color: #fc5c65;

        &:hover{
            background-color: #e7474f;
            // border: 1px solid #6F1E51;
        }
    }
}


.profile-page{
    // height: 90vh;
    
   
    .profile-card{
        position: relative;
        background-color: white;
        width: 90%;
        margin: 50px auto;
        padding: 120px 30px 40px 30px;
        border-radius: 20px;
        

        @media screen and (min-width: 1199px){
            width: 60%;
        }


        

        .profile-pic{
            &-bubble{
                position: absolute;
                left: 50%;
                top: -60px;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                background-color: $white;
                z-index: 5;   
                &:hover{
                   
                    
                    .profile-pic-change{
                        opacity: 1;
                    }
                    .profile-pic-img{
                        filter: blur(3px);
                    }
                    
                }
            }

            &-change{
                opacity: 0;
                position: absolute;
                left: 50%;
                top: 30px; 
                margin-left: -32px;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                z-index: 100;
            }

            &-img{
                position: absolute;
                left: 50%;
                // top: 0;
                margin-left: -85px;
                border-radius: 50%;
                width: 170px;
                height: 170px;
                z-index: 10;

            }
            
            // &:hover{
            //     .profile-pic-change{
            //         opacity: 1;
            //     }
            // }
        }
        

    .profile-info{
        width: 90%;
        margin: 0 auto;

        .profile-heading{
            display: inline;
            font-size: 3.4rem;
            vertical-align: middle;
            
        }
        .profile-form{
            margin: 20px 0;
            padding: 25px 0;
            border-top: 1px solid #a5b1c2;
            border-bottom: 1px solid #a5b1c2;

        }
    
    } 
    }
}
    
